/* ----- THOMAS CSS ----- */
body{
  margin: 0;
  padding: 0;
background-color: #fff;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
  display: flex;
  justify-content: flex-end;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: x-large;
  margin-right: 20px;
  padding: 10px 0 0 0 ;
  font-size: 17px;
  padding-left: 40px;

}

.top_menu{
  margin-right: -20px;
}

.top_menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.top_menu li {
    float: left;
    padding: 30px 25px 0 0;
}

 .top_menu li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.top_menu li a:hover {
  color: #64b067;

}

li {
    display: inline;
    border-right: 2px;
}

.clear{
  width: 100%;
  clear: both;
}

.logo{
  float: left;
  margin: 5px 0 0 10px;
  height: 80px;
}

main{
  width: 100%;
  margin: 20px 0 0 0;
  padding: 0;
  height: 650px;
  min-height: 380px;
  background-image: url("foto/main4.jpg");
  background-position: center;
  background-size: cover;
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.indhold {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Coming Soon', cursive;
}

article{
  margin: auto;
  margin-top: 25%;
  margin-bottom: 20%;
  vertical-align: middle;
  width: 75%;
  height: 75%;
  letter-spacing: 1.6pt;
  line-height: 1.5;
  color: #1d1d1b;
}

.indhold h2{
  color:#1d1d1b;
  margin: auto;
  font-size: 24px;
  text-align: left;
}

.section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-image: url("foto/front_book.jpg");
  background-position: center;
  background-size: cover;
}
.box1a {
  background-image: url("foto/in_book.jpg");
  background-position: center;
  background-size: cover;
}

.box1b {
  background-image: url("foto/jesper.jpg");
  background-position: center;
  background-size: cover;
}

.box2 {
  background-color: #eaeaea;
}

.box3 {
  background-color: #eaeaea;
  text-align: left;
}

.box3 h2{
  text-align: center;
  margin-top: -20px;
}

.space{
  width: 100%;
  margin: 10px 0 0 0;
}

.partner{
  margin: auto;
  text-align: center;
  margin: 80px 0 60px 0;
}

.partner h3 {
  margin: 0 0 20px 0;
}

/* ----- THOMAS CSS SLUT ----- */
h1{
  font-family: 'Gloria Hallelujah', cursive;
  margin: auto;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
.error h1{
  font-family: 'Gloria Hallelujah', cursive;
  margin: auto;
  color: #000000;
  text-align: center;
  padding-top: 50px;
}
.indhold h2{
  margin: auto;
  text-align: left;
  font-size: 30px;
  margin: -40px 0 20px 0;
  font-family: 'Gloria Hallelujah', cursive;

}
h2{
  margin: auto;
  font-size: 30px;
  margin: 60px 0 20px 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
main h3{
  font-family: 'Coming Soon', cursive;
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  padding: 0 100px 0 100px;
  margin: 0px 0 60px 0;
}
h3{
  font-family: 'Coming Soon', cursive;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  padding: 0 100px 0 100px;
  margin: 0px 0 60px 0;
}
p{
  font-family: 'Coming Soon', cursive;
}

header {
  width: 100%;
  min-height: 90px;
  background-color: #ffffff;
}
.brev1{
  margin: 25px 5px 25px 50px;
}
.brev2{
  margin: 25px 50px 25px 0px;
}
.brevleft{
  float: left;
}
.brevright{
  float: right;
}

/* CONTACT Form*/
input, textarea {
  padding: 10px;
  border: 2px solid #E5E5E5;
  width: 250px;
  font-family: 'Coming Soon', cursive;
}

textarea {
  width: 500px;
  height: 200px;
  max-height: 250px;
  line-height: 17px;
  margin-bottom: 20px;
}

.formular label {
  margin-left: 10px;
}

.send input {
  width: 150px;
  font-family: 'Coming Soon', cursive;
  font-size: 17px;
  background-color: #474E69;
  color: #FFFFFF;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Coming Soon', cursive;
}

input[type=submit] {
    background-color: #35b987;
    color: white;
    letter-spacing: 1.5pt;
    text-transform: uppercase;
    font-family: 'Coming Soon', cursive;
    padding: 12px 20px;
    border: none;
    float: right;
}

.kontakt {
    border-radius: 5px;
    background-color: #eaeaea;

    padding: 5px 100px 100px 100px;
    margin: 20px 0 0 0;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#footer {
    width:100%;
    float: left;
    background-color: #35b987;
    padding:14px 0;
    color:#fff;
    border-top:2px solid #109460;
    bottom:0;
}

#footer-inner {
    width:90%;
    height: 30px;
    margin:20px auto 0 auto;
}

.footer-logo{
  width: 25%;
  float: left;
  height: auto;
}

.footer-tekst{
  float: left;
  font-family: 'Coming Soon', cursive;
}

.footer-kasser {
  float: left;
  width: 100%;
  overflow: auto;
  font-family: 'Coming Soon', cursive;
}

.kasse {
  float: left;
  margin-left: 10px;
  width: 35%;
  height: 100px;
}

.kasse2 {
  float: right;
  line-height:1.7;
  font-size: 12px;
  letter-spacing: 1.2pt;
  width: 40%;
  height: 100px;
}

.kasse3 {
  float: right;
  line-height: 2;
  width: 25%;
  height: 80px;
}

h5{float: left;
  font-size: 11px;
  margin: 0 0 0 0;
  text-transform: uppercase;
  padding: 4px 12px 12px 0;
  display: inline-block;
  font-family: 'Coming Soon', cursive;
}

.sm{
float: right;
  line-height: 2;
}


@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .indhold {
    width: 100%;
    margin: 0 auto;
  }
  .box1,
  .box2,
  .box3,
  .box1b,
  .box1a{
    width: 50%;
    height: 500px;
    max-height: 500px;


  }

}

/* Tablet Styles */
@media only screen and (min-width: 701px) and (max-width: 960px) {
  .box1,
  .box2,
  .box3,
  .box1b,
  .box1a {
    width: 50%;
    max-height: 500px;
        }
      }
        .kasse3 {
          line-height: 2;
          width: 100%;
          height: 50px;
        }

  h5{float: left;
        margin: 0 0 0 0;
        text-transform: uppercase;
        padding-right: 30px;
  }
  .sm{
    float: left;
    line-height: 2;
  }

@media only screen and (max-width: 701px) {
  .box1{ order: 1;
  }

  .box2{order: 2;
  }

  .kasse1 {
    line-height: 2;
    width: 100%;
    height: 100px;
  }

  .kasse2 {
    line-height: 2;
    width: 100%;
    height: 100px;
  }

  .kasse3 {
    line-height: 2;
    width: 100%;
    height: 100px;
  }

  h5{float: left;
    margin: 0 0 0 0;
    text-transform: uppercase;
      padding-right: 30px;
  }

  .sm{
  float: left;
    line-height: 2;
  }

@media only screen and (max-width: 1201px) {
.kasse3{float: left;
}

.sm{
  float: left;
  line-height: 2;
}
